div.Main {
    background-color: azure;
    border-radius: 15.5px;
    
}
div.content{
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.6);
box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.6);
background-color: #ffffff;
padding-bottom: 20px;
width:300px;
height: 150px;
border-radius: 28px 28px 28px 28px; 
border: 3px solid #CF34DC;
margin-left: 50px;
}
body {
    min-width: 300px;
    /* your desired width */
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    margin-top: 0;
    margin-left:0 ;
    margin-right: 0;
    border-radius: 50px;
    text-align: center; 
}

div.Header {
    text-align: center;
    color: rgb(23, 229, 232);
    border: black;
    background-color:rgb(6, 6, 6);
    margin-top: 0%;
    
}


.Tmail {
    text-align: center;
    color: rgb(23, 229, 232);
    border: black;

    border-radius: 55px;
}


input:focus{
    outline:none;
}

.load {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin-right: 20px;
    border-radius: 28px 28px 28px 28px; 
border: 1.5px solid #CF34DC;
}

.New {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin-left: 20px;
    border-radius: 28px 28px 28px 28px; 
border: 1.5px solid #CF34DC;
}

input {
    padding: 3px;
font-size: 20px;
border-width: 1px;
border-color: #CCCCCC;
background-color: #FFFFFF;
color: #000000;
border-style: solid;
border-radius: 24px;
box-shadow: -1px 0px 6px rgba(66,66,66,.43);
text-shadow: 0px 0px 5px rgba(66,66,66,.75);

}

.head {
    background: #6C1CD4;
    background: linear-gradient(to right, #6C1CD4 0%, #33BCF1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.mail{
    padding-bottom: 20px;
    padding-top: 20px;
}
/* .brnkSF {
    display: inline-block;
    outline: 0px;
    border: 0px;
    cursor: pointer;
    background-color: rgb(66, 153, 225);
    border-radius: 50px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
} */